/*
Built using CSS grid.

Table of Contents:
1. CSS Grid configuration
2. Header alterations
3. Paragraph alterations
4. List alternations
5. A href alternations

*/

/* 1. CSS Grid configuration */
* {box-sizing: border-box;}
.wrapper {
  max-width: 100;
  margin: 0 auto;
}
.wrapper > div {
  padding: 1em;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, auto);
}
.header {
  grid-column: 1/4;
  grid-row: 1;
}
.body {
  grid-column: 1 / 4;
  grid-row: 2;
  height: 100vh;
  background-color: #212121;
}
.footer {
  grid-column: 1 / 4;
  grid-row: 8;
  background-color: #212121;
}

html,body{
  margin: 0;
  height: 100%;
}
.content{
  min-height: calc(100vh - 70px);
}
.center {
    height: 100%;
    position: relative;
}

.center h1 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -45%);
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
    font-size: 40pt;
}

.homeMenu{
  position: relative;
  top: 45%;
  margin-left: 40%;
  margin-right: 38%;
  height: 30;
}


@media screen and (max-width: 800px){
  .homeMenu{
    top: 50%;
  }
}
