@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
font-family: Oswald;
height: 100%;
margin: 0;
padding: 0;
background-color: #151921;
}

#container {
  min-height: 100%;
  position: relative;
}

#header{
  background-color: #343c49;
  padding: 10px;

}

#body{
  background-color: #151921;
  padding: 10px;
  padding-bottom: 100px;
}


#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #343c49;
}

#divPush{
  height: 100px;

}



h1{
  font-size: 40px;
  text-align: center;
}

h2.footer{
  text-align: center;
  color: white;
  font-size: 15px;
}

p.index-body{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;

}

p.about{
  padding: 5px;
  font-size: 16px;
  color: white;
}

ul.menu{
  padding: 0;
  display: block;
  text-align: center;


}
ul.menu li{
  display: inline-block;
  float: none;
  padding: 10px;

}

ul.mywork{
  padding-top: 10px;
  padding-left: 10px;
  list-style-type: none;
}
ul.mywork li{
  padding-bottom: 10px;
}

ul.footer-menu{
  padding: 0;
  font-size: 10px;
  display: block;
  text-align: center;
}

ul.footer-menu li{
  display: inline-block;
  float: none;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 750px){

  h1{
    font-size: 50px;
    margin-left: 20px;

    display: inline;
  }

  p.index-body{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: white;

  }

  ul.menu{

    display: inline-block;
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 31px;


  }
  ul.menu li{
    font-size: 25px;
    display: inline;
    list-style: none;

  }

  p.about{
    padding: 10px;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

}
